*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
background: #000;
}
.logo{
    width: 165px;
    align-items: center;
}
a{
    text-decoration: none ;
    color: #ffff;
    font-size: 2rem;
   
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}
.nav-items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.menu{
    display: none;
}

@media(max-width: 1000px){
    .menu{
        display: block ;
       }
       .nav-items{
        display: none;
       }
       .logo{
        width: 100px;
        align-items: center;
}





    

